@import '../../shared/variables';

.statusbar {
  align-content: space-between;
  align-items: center;
  background: $statusbar_background;
  color: $statusbar_foreground;
  display: flex;
  height: $statusbar_height;
  width: 100%;

  &__user-indicator {
    flex: 1 0 20%;
  }

  &__status-indicator {
    flex: 1 0 60%;
  }

  &__metadata {
    align-items: center;
    display: flex;
    flex: 1 0 20%;
    justify-content: flex-end;

    &__system-name {
      &::after {
        color: $color-white;
        content: '|';
        padding: 0 $sizing-xs;
      }
    }
  }
}
