.input {
  border: 2px solid #e3e3e3;
  border-radius: 3px;
  color: #4d4d4d;
  font-family: 'robotomedium', sans-serif;
  font-size: 15px;
  height: 40px;
  line-height: 26px;
  padding: 5px 10px;
  width: 100%;

  &:focus {
    outline: none;
  }
}
